# Данные (большие файлы — не в git)
data/*.csv
notebooks/catboost_info

# Модели (тяжёлые бинарники)
models/*
!models/.gitkeep
*.cmb
*.pkl

# Jupyter
.ipynb_checkpoints/

# Виртуальное окружение
.venv/
venv/
__pycache__/
*.pyc

# Системное
.DS_Store