# Данные (большие файлы — не в git)
data/*.csv
notebooks/catboost_info
catboost_info/
predictions_target*.csv

# Модели (тяжёлые бинарники)
# models/*
# !models/.gitkeep
# *.cmb
*.pkl

output/*
!output/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Виртуальное окружение
.venv/
venv/
__pycache__/
*.pyc

# Системное
.DS_Store

docker-compose.override.ymlpredictions_target*.csv
